body {
    
    background-image: url('../img/fondo.png'); 
    background-size: cover;       
    background-attachment: fixed; 
    background-position: center;  
    
    font-family: 'Varela Round', sans-serif;
    color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%; 
}

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3 {
    font-family: 'Smooch Sans', sans-serif; 
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

h1, h2 {
    text-align: center;
    margin-top: 1rem; 
}

h1 {
    font-size: 4rem;
}

nav ul {
    list-style: none;
    display: flex;    
    justify-content: center;  
    gap: 2rem;               
    padding: 0;
}

nav a {
    text-decoration: none;
    color: rgb(135, 38, 117);      
    font-weight: bold;
}

.contenedor {
    max-width: 1000px; 
    width: 90%;        
    margin: 0 auto;    
    
    
    padding: 1.25rem;  
    
    background-color: rgba(189, 229, 244, 0.817); 
}

img {
    max-width: 100%;    
    height: auto;       
    display: block;     
    margin: 2rem auto;  
    border-radius: 5px; 
}

.video-contenedor {
    width: 100%;           
    max-width: 800px;      
    margin: 2rem auto;     
}

.video-contenedor iframe {
    width: 100%;           
    aspect-ratio: 16 / 9;  
    border: none;          
}

.bio-dato {
    padding: 1.5rem;
    margin-top: 1rem;       
    
}

